.container-fluid {
  padding: 20px;
}

.filter-card {
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.student-list-card,
.parcours-card,
.payments-card {
  background-color: #ffffff;
}

.card-header {
  background-color: #ffffff;
  color: #000000;
}

.table {
  width: 100%;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.btn-secondary {
  background-color: #6c757d;
  border: none;
  color: #ffffff;
}

.student-photo {
  width: 50px; /* Adjust size as needed */
  height: 50px;
  object-fit: cover;
}

.table th,
.table td {
  vertical-align: middle; /* Center align content vertically */
}

.table td button {
  margin-right: 5px; /* Space between action buttons */
}

/* Scrollable table container */
// .student-list-card .card-body {
//   max-height: 500px; /* Set a maximum height for the table container */
//   overflow-y: auto; /* Enable vertical scrolling */
// }

// .parcours-card .card-body,
// .payments-card .card-body {
//   max-height: 500px; /* Set a maximum height for the other tables if needed */
//   overflow-y: auto; /* Enable vertical scrolling */
// }
.selected-row {
  background-color: #e5e2ff; /* gris clair */
}
.table-header {
  background-color: #7366ff; /* Couleur verte, vous pouvez changer selon vos besoins */
  color: white; /* Texte en blanc pour contraster avec le fond */
  font-weight: bold; /* Texte en gras */
}
.point-cursor {
  cursor: pointer;
}

.fixed_header thead {
  position: sticky;
  top: 0;
  // background-color: #ffffff; /* Choisissez la couleur de fond en fonction de votre design */
  // z-index: 1000; /* Assurez-vous que l'en-tête reste au-dessus des autres éléments */
  // box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4); /* Optionnel : ajoute une ombre */
}

.fixed_header th, .fixed_header td {
  // padding: 8px;
  text-align: center;
  // border: 1px solid #ddd;
}

/* Pour s'assurer que le défilement ne dépasse pas les limites */
.table-responsive {
  max-height: 620px; /* Ajustez selon la hauteur souhaitée */
  overflow-y: auto;
}

.table-versementoperation{
  max-height: 290px; /* Ajustez selon la hauteur souhaitée */
  overflow-y: auto;
}
.floating-button {
  position: fixed;
  bottom: 20px; /* Distance du bas de l'écran */
  right: 20px; /* Distance du côté droit */
  z-index: 1000; /* Pour qu'il reste au-dessus des autres éléments */
}

.button-floating-action {
  width: 60px; /* Taille du bouton */
  height: 60px; /* Taille du bouton */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Taille du texte */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Ombre pour un meilleur effet */
}

.dockManagerContent{
  height: 100%;
}


