.card{
  margin-top: 30px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Évite le scroll inutile */
}

.container-fluid.basic_table {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#infoCard {
  flex-grow: 1; /* Permet à la carte d'occuper tout l'espace disponible */
  min-height: 200px; /* Pour éviter qu'elle disparaisse si la fenêtre est trop petite */
  overflow-y: auto; /* Ajoute un scroll si nécessaire */
}
.card{
  margin-top: 30px;
  background: linear-gradient(to left, #7366ff, #33B1EE);
  table.table{
      width: 95%;               // Adjust this as needed (e.g. 60%, 800px, etc.)
      margin: 0;
      border-collapse: collapse;
      border-radius: 8px;
      padding: 0;
      background: white;
    }
}
.card-header{
  background: linear-gradient(to left, #7366ff, #33B1EE);
}
.fs-4{
  color: white;
}
.btn-outline-primary, .igx-button--outlined{
  background: transparent;
  color: white;
  border: white;
}
td, th{
  border: none;
}