<!-- <app-breadcrumb [title]="'Facturables'"></app-breadcrumb> -->

<div class="container-fluid basic_table">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <!-- Etape 3 - Veuillez entrer les facturables. -->
            <h3 class="form-title"></h3>
            <!-- <button class="btn btn-success" (click)="openFacturableModal(null, facturableModal)">+</button> -->
            <button class="btn btn-primary" title="Ajouter Facturable" (click)="openFacturableModal(null, facturableModal)"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        <div class="card-body form-container" id="infoCard">
          <!-- Table des facturables existants -->
          <table class="table card-table table-vcenter text-nowrap" style="text-align: center">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Code</th>
                <th>Est Refacturable</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let facturable of Facturables; let i = index">
                <td>{{ facturable.Fact_Nom }}</td>
                <td>{{ facturable.Fact_Code }}</td>
                <td>
                  <span *ngIf="facturable.Fact_EstRefacturable"><i class=" fa fa-check"  ></i></span>
                  <!-- <span *ngIf="!facturable.Fact_EstRefacturable || facturable.Fact_EstRefacturable==null"><i class="fa fa-times" style="color:rgb(255, 0, 0)" ></i></span> -->
                </td>
                <!-- <td>{{ facturable.Fact_EstRefacturable ? 'Oui' : 'Non' }}</td> -->
                <td>{{ facturable.Fact_Description }}</td>
                <!-- <td>
                  <button class="btn btn-primary" (click)="openFacturableModal(i, facturableModal)"><i class="fa fa-edit"></i></button>
                  <button class="btn btn-danger ms-2" (click)="removeFacturable(i)">-</button>
                </td> -->
                <td>
                  <div>
                    <a class="fs-5 text-warning mx-2" title="Modifier Facturable" style="cursor: pointer;" (click)="openFacturableModal(i, facturableModal)">
                      <i class="fa fa-edit"></i>
                    </a>
                    <a class="fs-5 text-danger mx-2" title="Supprimer Facturable" style="cursor: pointer;" (click)="removeFacturable(i)">
                      <i class="fa fa-trash"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!Facturables || Facturables.length === 0">
              <tr>
                <td colspan="5" class="text-center">Aucune facturables enregistré</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Boutons de navigation -->
        <div class="card-footer text-end">
          <button class="btn btn-primary me-3" type="submit" routerLink="../niveaux">Retour</button>
          <button class="btn btn-success" type="submit" routerLink="../fiches">Continuer</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal pour ajouter/éditer un facturable -->
<ng-template #facturableModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Facturable</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="form-group mb-3">
      <label>Nom du Facturable</label>
      <input type="text" class="form-control" [(ngModel)]="newFacturable.Fact_Nom" placeholder="Nom" />
    </div>
    <div class="form-group mb-3">
      <label>Code du Facturable</label>
      <input type="text" class="form-control" [(ngModel)]="newFacturable.Fact_Code" placeholder="Code" />
    </div>
    <div class="form-group mb-3">
      <label>Est Refacturable</label>
      <input type="checkbox" class="form-check-input" [(ngModel)]="newFacturable.Fact_EstRefacturable"  />
    </div>
    <div class="form-group mb-3">
      <label>Description</label>
      <input type="text" class="form-control" [(ngModel)]="newFacturable.Fact_Description" placeholder="Description" />
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="saveFacturable(currentFacturableIndex, modal)">Enregistrer</button>
  </div>
</ng-template>
