.container-fluid {
  padding: 0;
  margin: 0;
}

.filter-card {
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.student-list-card,
.parcours-card,
.payments-card {
  background-color: #ffffff;
}
.point-cursor {
  cursor: pointer;
}
.card-header {
  // background-color: #7366FE;
  color: #000000;
}

.table {
  width: 100%;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.btn-secondary {
  background-color: #6c757d;
  border: none;
  color: #ffffff;
}

.student-photo {
  width: 50px; /* Adjust size as needed */
  height: 50px;
  object-fit: cover;
}

.table th,
.table td {
  vertical-align: middle; /* Center align content vertically */
}

.table td button {
  margin-right: 5px; /* Space between action buttons */
}

/* Scrollable table container */
.student-list-card .card-body {
  max-height: 500px; /* Set a maximum height for the table container */
  overflow-y: auto; /* Enable vertical scrolling */
}

.parcours-card .card-body,
.payments-card .card-body {
  max-height: 500px; /* Set a maximum height for the other tables if needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

.fixed_header thead {
  position: sticky;
  top: 0;
  background-color: #ffffff; /* Choisissez la couleur de fond en fonction de votre design */
  // z-index: 1000; /* Assurez-vous que l'en-tête reste au-dessus des autres éléments */
  // box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); /* Optionnel : ajoute une ombre */
}

.fixed_header th, .fixed_header td {
  // padding: 8px;
  text-align: center;
  // border: 1px solid #ddd;
}

/* Pour s'assurer que le défilement ne dépasse pas les limites */
.table-responsive {
    display: flex;
    justify-content: center;
    background: linear-gradient(to left, #7366ff, #33B1EE);
    border: none;
    border-radius: 8px;
}
.card{
  margin-top: 10px;
  background: linear-gradient(to left, #7366ff, #33B1EE);
  table.table{
      width: 100%;               // Adjust this as needed (e.g. 60%, 800px, etc.)
      margin: 0;
      border-collapse: collapse;
      border-radius: 8px;
      padding: 0;
      background: white;
    }
}
.card-header{
  background: linear-gradient(to left, #7366ff, #33B1EE);
}
.fs-4{
  color: white;
}
.btn-primary{
  background-color: transparent !important;
  color: white;
  border: white;
} 
td, th{
  border: none;
}
.table-responsive {
    display: flex;
    justify-content: center;
    background: linear-gradient(to left, #7366ff, #33B1EE);
    border: none;
    border-radius: 8px;
}
.nav-link{
  color: white;
}
#searchBar{
  display: grid;
  grid-template-columns: repeat(4, 1600px);  /* 3 equal columns */
  gap: 20px;
  align-items: center;
  width: 100%;
  margin: 0;
}
.card-body{
  margin-top: 10px;
}